.task {
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
    img {
      opacity: 0.2;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}